<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /><uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:usesCleartextTraffic="true"
        android:layout_gravity="center"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id"/>
        <activity android:name=".Server"/>
        <activity android:name=".AlarmTarget" />
        <activity android:name=".AlarmList" />
        <activity android:name=".FalldownList" />
        <activity android:name=".GPSList" />
        <activity android:name=".ActivityList" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".OptionActivity" />
        <activity android:name=".ClientLoginActivity" />
        <activity android:name=".ClientLoginRegisterActivity" />
        <activity android:name=".ClientMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".POPActivity"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlertActivity"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="FirebaseMessagingServiceInstance"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FalldownDetect"></service>
        <service
            android:name=".ActiveTimerService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".AlwaysOnTopService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service android:name=".ActivenessCheckService" />
        <service android:name=".GPSListener" />
        <service android:name=".CameraManager" />

    </application>

</manifest>